

.herro-section{
    padding: 8.9rem 0 9rem;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
    .herro-content{
        background-color: rgba(#fff, 0.6);
        .herro-title{
            margin-bottom: 1.7rem;
        }
        .herro-description{
            margin-bottom: 5.9rem;
        }
        .herro-link{
            font-size: 1.4rem;
            letter-spacing: 1%;
            
            
        }
    }
}