

.team-page-members{
    padding: 11.4rem 0 12.7rem;
    .team-page-members-title{
        margin-bottom: 5.6rem;
    }
    .team-member{
        margin-bottom: 5.9rem;
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        .team-member-image{
            overflow: hidden;
            margin-bottom: 2.2rem;
            img{
                transition: 0.5s linear;
                width: 100%;
                display: block;
            }
        }
        .team-memeber-name{
            a{
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: 1.14%;
                color: #000;
                text-decoration: none;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
}